<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JDDT_0000_youkedenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{262,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,82}}</string>
                <key>sourceSize</key>
                <string>{262,82}</string>
            </dict>
            <key>JDDT_0001_xianwanwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{262,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,82}}</string>
                <key>sourceSize</key>
                <string>{262,82}</string>
            </dict>
            <key>slice17_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,483},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>tower_JPD3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,299},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>ui_hp_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,667},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_sets_off1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,775},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>ui_sets_off2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,717},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>ui_sets_on1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,683},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>ui_sets_on2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,649},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>ui_title_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,503},{162,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,76}}</string>
                <key>sourceSize</key>
                <string>{162,76}</string>
            </dict>
            <key>ui_title_rect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,99},{162,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,196}}</string>
                <key>sourceSize</key>
                <string>{162,196}</string>
            </dict>
            <key>ui_title_rect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,297},{162,184}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{162,184}}</string>
                <key>sourceSize</key>
                <string>{162,196}</string>
            </dict>
            <key>ui_win_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,740},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>ui_win_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,423},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,81}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>ui_win_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{339,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{339,121}}</string>
                <key>sourceSize</key>
                <string>{341,123}</string>
            </dict>
            <key>ui_win_txt_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,125},{172,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,74}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>ui_win_vip_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,51},{166,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,46}}</string>
                <key>sourceSize</key>
                <string>{166,46}</string>
            </dict>
            <key>ui_win_yaoqing_btn00.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,561},{217,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,139}}</string>
                <key>sourceSize</key>
                <string>{217,139}</string>
            </dict>
            <key>ui_win_yaoqing_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{240,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,151}}</string>
                <key>sourceSize</key>
                <string>{240,153}</string>
            </dict>
            <key>ui_win_yaoqing_btn10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{217,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,139}}</string>
                <key>sourceSize</key>
                <string>{217,139}</string>
            </dict>
            <key>ui_win_yaoqing_btn11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{240,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,151}}</string>
                <key>sourceSize</key>
                <string>{240,153}</string>
            </dict>
            <key>ui_win_yaoqing_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{166,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,47}}</string>
                <key>sourceSize</key>
                <string>{166,47}</string>
            </dict>
            <key>wheel_exit_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,522},{125,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{125,34}</string>
            </dict>
            <key>wheel_get_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{105,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,52}}</string>
                <key>sourceSize</key>
                <string>{105,52}</string>
            </dict>
            <key>wheel_reward_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,393},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>wheel_start_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,733},{105,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,52}}</string>
                <key>sourceSize</key>
                <string>{105,52}</string>
            </dict>
            <key>wheel_text_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,522},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseUI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1bb1a331b00451ad8b89d9b17f579ca$</string>
            <key>textureFileName</key>
            <string>baseUI.png</string>
        </dict>
    </dict>
</plist>
